{% extends 'base.html.twig' %}

{% block title %}{% trans %}edit{% endtrans %} {% trans %}user{% endtrans %}{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
        </div>
    {% endif %}

    <h1>{% trans %}edit{% endtrans %} {% trans %}user{% endtrans %}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
