{% extends 'base.html.twig' %}

{% block title %}{% trans %}user{% endtrans %}{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            {% trans %}logged_as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
        </div>
    {% endif %}

    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}name{% endtrans %}</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}sex{% endtrans %}</th>
                <td>{{ user.sex }}</td>
            </tr>
            <tr>
                <th>{% trans %}email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}age{% endtrans %}</th>
                {#<td>{{ user.dateOfBirth|date('Y-m-d') }}</td>#}
                {% if user.dateOfBirth %}
                    <td>{{ user.dateOfBirth | age }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>{% trans %}country{% endtrans %}</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>{% trans %}city{% endtrans %}</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>{% trans %}last_login{% endtrans %}</th>
                <td>{{ user.lastLogin | date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}status{% endtrans %}</th>
                <td>
                    {% if 'now'|date('U') < (user.lastLogin|date('U') + 600) %}
                        online
                    {% else %}
                        offline
                    {% endif %}
                </td>
            </tr>
            {% if user.photos is not empty %}
            <tr>
                <th>{% trans %}photos{% endtrans %}</th>
                <td>
                    <ul>
                        {% for photo in user.photos %}
                            <li><img src="/photos/userId-{{ user.id }}/{{ photo.file }}" alt="{{ photo.alt }}" width="200"></li>
                        {% endfor %}

                    </ul>
                </td>
            </tr>
            {% else %}

            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>
    {% if app.user and user.id == app.user.id %}
        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
    {% endif %}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
