{% extends 'base.html.twig' %}

{% block title %}{% trans %}user{% endtrans %}{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            {% trans %}logged_as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
        </div>
    {% endif %}

    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}name{% endtrans %}</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}date_of_birth{% endtrans %}</th>
                <td>{{ user.dateOfBirth|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{% trans %}country{% endtrans %}</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>{% trans %}city{% endtrans %}</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>{% trans %}last_login{% endtrans %}</th>
                <td>{{ user.lastLogin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}photos{% endtrans %}</th>
                <td>
                    <ul>
                        {% for photo in user.photos %}
                            <li><img src="/photos/userId-{{ user.id }}/{{ photo }}" alt="" width="200"></li>
                        {% endfor %}

                    </ul>
                </td>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
